.specificAnimals{
    display: flex;
    flex-direction: column;
}

 .specificAnimals .info {
    display: flex;
    flex-direction: row;   
    align-items:center ; 
    justify-content: space-between;
    margin: 6px;

} 


.specificAnimals .img-container{
    display: flex;
    flex-direction: raw;
    align-items: center;
    width:100%;
    
    justify-content: center;
}

.specificAnimals .img-container img{
    
    width: 30rem;
    height: 15rem;
    margin: 4px;
    
   
}
.specificAnimals .img-container span{
    display: flex;
    flex-direction: column;
    font-size: small;
    font-weight:normal;
    color: #272323;
    text-align: center;
    
   
}
.specificAnimals p{
    display: flex;
    flex-direction:column;
    font-size: large;
    font-weight:bold ;
   

}

.specificAnimals .button{
border-radius:4px;
width: 10rem;
height: 3rem;
background-color: #a8adad;
color: azure;
box-shadow: 4px 4px #303132;

}